certifi==2020.6.20
chardet==3.0.4
dicttoxml==1.7.4
huawei-lte-api==1.4.14
idna==2.10
mysql-connector==2.2.9
PyMySQL==0.10.1
requests==2.24.0
urllib3==1.25.10
windows-curses==2.2.0a1
xmltodict==0.12.0
